tmp/
# components/
managed_components/
build/
.vscode/
.devcontainer/
sdkconfig.old
# sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
mmap_generate_*.h
.clangd
# 保存UI数据
ui_editor_state.json